
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Ülke Şehir İşlemleri</h1>
<br />
<button type="button" id="btnGetList" class="btn btn-outline-info">Şehir Listesi</button>
<br />
<br />

<div id="cityList">

</div>

<script>
    $("#btnGetList").click(function(){
        $.ajax
        ({
            contentType:"application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/AdminCity/CityList",
            success: function(func)
            {
                let w = jQuery.parseJSON(func);
                console.log(w);
                let tablehtml ="<table class=table table-bordered> <tr><th>Şehir Adı</th> <th>Gün Sayısı</th> <th>Fiyat</th> </tr>";
                $.each(w,(index,value)=>
                {
                    tablehtml +=`<tr><td>${value.City}</td> <td>${value.DayNight}</td> <td>${value.Price}</td> </tr>`
                });
                tablehtml += "</table>";
                $("#cityList").html(tablehtml);
            }
        });
    }); 
</script>