
         <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a href="/Admin/AdminDashboard/Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Ana Sayfa</div>
              </a>
            </li>
             <li class="menu-item">
              <a href="/Admin/AdminDestination/Index" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-plane-alt"></i>
                <div data-i18n="Analytics">Rotalar</div>
              </a>
            </li>
             <li class="menu-item">
              <a href="/Admin/AdminComment/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-comment"></i>
                <div data-i18n="Analytics">Yorumlar</div>
              </a>
            </li>
             <li class="menu-item">
              <a href="/Admin/AdminUser/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Analytics">Misafirler</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/Admin/AdminAnnouncement/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Analytics">Duyurular</div>
              </a>
            </li>
               <li class="menu-item">
              <a href="/Admin/AdminContactUs/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-receipt"></i>
                <div data-i18n="Analytics">Mesajlar</div>
              </a>
            </li>
             </li>
               <li class="menu-item">
              <a href="/Admin/AdminGuide/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-spa"></i>
                <div data-i18n="Analytics">Rehberlerimiz</div>
              </a>
            </li
            <li class="menu-item">
                <li class="menu-item">
              <a href="/Admin/AdminReservationAccept/MyApprovalReservation2/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-hotel"></i>
                <div data-i18n="Analytics">Rezarvasyonlar</div>
              </a>
            </li>
             <li class="menu-item">
              <a href="/Admin/AdminRoleChange/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-voice"></i>
                <div data-i18n="Analytics">Rol İşlemleri</div>
              </a>
            </li>
              </li>
               <li class="menu-item">
              <a href="/Excel/DestinationExcelReport/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-book"></i>
                <div data-i18n="Analytics">Excel Raporu</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/Default/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-run"></i>
                <div data-i18n="Analytics">Siteye Dön</div>
              </a>
            </li>
             </li>
               <li class="menu-item">
              <a href="/Admin/AdminLogout/LogOut/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-exit"></i>
                <div data-i18n="Analytics">Çıkış Yap</div>
              </a>
            </li>
          </ul>