
 <section class="w3l-main-slider" id="home">
    <div class="banner-content">
      <div id="demo-1"
        data-zs-src='["/Traversal-Starter/assets/images/banner1.jpg", "/Traversal-Starter/assets/images/banner2.jpg","/Traversal-Starter/assets/images/banner3.jpg", "/Traversal-Starter/assets/images/banner4.jpg"]'
        data-zs-overlay="dots">
        <div class="demo-inner-content">
          <div class="container">
            <div class="banner-infhny">
              <h3>Seyahat için uzaklara gitmenize gerek yok</h3>
              <h6 class="mb-3">Bir sonraki maceranı hemen planla !</h6> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>