
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Dosyası</h1>
<br />
<a href="/Excel/DestinationExcelReport/" class="btn btn-outline-primary">Tur Rotaları Excel Raporu</a>

